.video-container {
    margin: 1.5rem 0 .5rem 0;
    padding: 2.5rem;
}

.video__tag {
    font-size: 2rem;
    font-weight: 500;
}

hr {
    color: var(--white);
}

.question-container {
    font-size: 1.8rem;
    font-weight: 500;
    margin-top: 1rem;
}

.btns-container {
    margin: 0 2rem;
    text-align: center;
}

.btn__answer {
    width: 100%;
    font-size: 1.5rem;
    margin: .7rem 0 .5rem 0;
    padding: 1rem 1.5rem;
    text-align: center;
    border: .1rem solid rgba(000, 000, 000, 0);
    border-radius: 1rem;
    color: var(--white);
    cursor: pointer;
}

.btn__answer:first-child {
    background-color: var(--purple);
}

.btn__answer:nth-child(2) {
    background-color: var(--green);
}

.btn__answer:nth-child(3) {
    background-color: var(--dark-blue);
}

.btn__answer:nth-child(4) {
    background-color: var(--orange);
}

.btn__answer.correct {
    background: rgba(102, 204, 51, 0.79);
    box-shadow: 0 .4rem 3rem rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(1.2rem);
    -webkit-backdrop-filter: blur(1.2rem);
}

.btn__answer.incorrect {
    background: rgba(230, 43, 74, 0.79);
    box-shadow: 0 .4rem 3rem rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(1.2rem);
    -webkit-backdrop-filter: blur(1.2rem);
}

@media screen and (width >= 700px) {
    iframe {
        height: 45rem;
    }

    .question-container {
        font-size: 2rem;
    }

    .btn__answer {
        width: 80%;
        font-size: 1.7rem;
    }
}

@media screen and (width >= 1024px) {
    .btn__answer {
        width: 65%;
    }
}